<div class="credentials">
	<div layout-gt-sm="row">
		<md-input-container
			class="md-block"
			flex-gt-sm> <label>UserID</label> <input ng-model="data.credentials.userID"> </md-input-container>
		<md-input-container
			class="md-block"
			flex-gt-sm> <label>Password</label> <input
			type="password"
			ng-model="data.credentials.password"> </md-input-container>
		<md-input-container
			class="md-block"
			flex-gt-sm> <label>ClientID</label> <input ng-model="data.credentials.clientID"> </md-input-container>
		<md-input-container
			class="md-block"
			flex-gt-sm> <label>Client Secret</label> <input
			type="password"
			ng-model="data.credentials.clientSecret"> </md-input-container>

		<md-button
			ng-disabled="data.testingCredentials"
			class="md-raised"
			style="max-height: 42px;"
			ng-click="testCredentials($event);">Test Reddit Credentials</md-button>
	</div>

</div>